eloraplm-relations/src/main/resources/schemas/sch_elora_relations_config.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://eloraplm.aritu.com/schemas/elora_relations_config"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="type" type="xs:string"/>
    <xs:element name="subtype" type="xs:string"/>
    <xs:element name="isSpecial" type="xs:integer" default="0"/>
    <xs:element name="isIconOnly" type="xs:integer" default="0"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>
