eloraplm-change-management/src/main/resources/schemas/elora_cm_doctype_actions_impact.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://eloraplm.aritu.com/schemas/elora_cm_doctype_actions_impact"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="doctype" type="xs:string"/>
    <xs:element name="action" type="xs:string"/>
    <xs:element name="impactable" type="xs:integer"/>
    <xs:element name="default" type="xs:integer"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>


