eloraplm-integration-config/src/main/resources/schemas/sch_elora_integration_version_control.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://eloraplm.aritu.com/schemas/sch_elora_metadata_mapping"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="min_allowed_version" type="xs:integer" default="0"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>
