eloraplm-code-creation/src/main/resources/schemas/sch_elora_code_conditions.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://eloraplm.aritu.com/schemas/sch_elora_code_conditions"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="className" type="xs:string"/>
    <xs:element name="methodName" type="xs:string"/>
    <xs:element name="methodParams" type="xs:string"/>
    <xs:element name="operator" type="xs:string"/>
    <xs:element name="value" type="xs:string"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>
