eloraplm-lifecycles/src/main/resources/schemas/sch_elora_lifecycle_transitions.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://eloraplm.aritu.com/schemas/sch_elora_transition_config"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="lifecycle" type="xs:string"/>
    <xs:element name="state" type="xs:string"/>
    <xs:element name="demoteTransitions" type="xs:string"/>
    <xs:element name="promoteTransitions" type="xs:string"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>
