eloraplm-integration/src/main/resources/schemas/sch_elora_cad_metadata_type.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://eloraplm.aritu.com/schemas/sch_elora_cad_metadata_type"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="cad_type_name" type="xs:string"/>
    <xs:element name="data_type" type="xs:string"/>
    <xs:element name="comment" type="xs:string"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>


