eloraplm-doctypes/src/main/resources/schemas/elora_viewer.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/elora_viewer" 
targetNamespace="http://www.nuxeo.org/ecm/project/schemas/elora_viewer"
xmlns:nxsv="http://www.nuxeo.org/ecm/schemas/core/validation/">

  <xs:include schemaLocation="core-types.xsd" />

  <xs:element name="file" type="nxs:content" />
  <xs:element name="baseFile" type="nxs:content" />
  <xs:element name="filename" type="xs:string" />
  
  <xs:element name="applyModifier" type="xs:boolean" default="true" />

</xs:schema>
