eloraplm-doctypes/src/main/resources/schemas/elora_advanced_search.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/common/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/common/">

  <xs:include schemaLocation="advanced_search.xsd" />

  <!-- elo:reference -->
  <xs:element name="reference" type="xs:string" />
  <!-- ecm:primaryType -->
  <xs:element name="primaryType" type="xs:string" />
  <!-- dc:lastContributor -->
  <xs:element name="lastContributor" type="xs:string" />
  <!-- search using ecm:ancestorId, not ecm:parentId -->
  <xs:element name="searchInSubfolders" type="xs:boolean" default="false" />

</xs:schema>
