eloraplm-doctypes/src/main/resources/schemas/priority.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:ref="http://www.nuxeo.org/ecm/schemas/core/external-references/" 
xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/priority" 
targetNamespace="http://www.nuxeo.org/ecm/project/schemas/priority">


  <xs:element name="priority" >
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver" ref:directory="elora_priority" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="expectedEndDate" type="xs:date"/>
  <xs:element name="realEndDate" type="xs:date"/>

</xs:schema>
