eloraplm-config/src/main/resources/schemas/sch_elora_unit_conversion_mapping.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://eloraplm.aritu.com/schemas/sch_elora_unit_conversion_mapping"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="base_unit" type="xs:string"/>
    <xs:element name="display_unit" type="xs:string"/>
    <xs:element name="conversion_factor" type="xs:decimal"/>
    <xs:element name="display" type="xs:integer" default="0"/>
    <xs:element name="decimal_places" type="xs:integer" default="2"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>
